sender_interval = 10
validator_interval = 10
storage_path = "record_db"
verify_api_url = "http://traefik-web-service/auto_tx/api/get_onchain_hash"
# Be consistent with data_for_send.timeout
validator_timeout = 120

[[chain_sender_vec]]
chain_name = "cita-cloud-test"
sender_url = "http://traefik-web-service/auto_tx/api/cita-cloud-test/send_tx"
user_code = "sla-test-user"
data_for_send = """{
    "to": "0x1879C8B68c50A4D4eeC9852325d32B60B43f3FbD",
    "data": "0xabcd1234",
    "timeout": 120
}"""

[[chain_sender_vec]]
chain_name = "cita-test"
sender_url = "http://traefik-web-service/auto_tx/api/cita-test/send_tx"
user_code = "sla-test-user"
data_for_send = """{
    "to": "0x1879C8B68c50A4D4eeC9852325d32B60B43f3FbD",
    "data": "0xabcd1234",
    "timeout": 120
}"""

[log_config]
max_level = "debug"
filter = "debug,hyper=info,opendal=info,sled=info,reqwest=info"